<div class="container main-container inline-links">

    <h2>Freie Eingabe von Pronomen in OpenSlides</h2>

    <p>
    Auf Kongressen kommen viele unterschiedliche Personen zusammen und es gibt eine zunehmend diverse Gruppe von Teilnehmenden. Pronomen sind ein wichtiger Aspekt, über den viele Personen ihre eigene Identität ausdrücken. Darum wird es immer wichtiger, einen Weg anzubieten, mit dem auf Großveranstaltungen Transparenz und Offenheit für alle geboten werden kann.
    </p>

    <p>
    OpenSlides kann dabei helfen: Alle Teilnehmenden können Pronomen für sich selbst eingeben. Ob sie/ihr, er/ihn, xier, dey oder they/them: Die gewünschten Pronomen erscheinen dann automatisch in der Redeliste, bei Anträgen und bei Kandidaturen für Wahlen. Diese Funktion kann außerdem bei einer quotierten Redeliste helfen.
    </p>

    <p class="thumbnail">
      <img src="assets/img/news/redeliste-pronomen.png" style="max-width: 824px; width: 100%;"
      title="Pronomen in der Redeliste">
    
    <p>
    Das Leben hat oft mehr als eine Option, es gibt viele Nuancen. Daher möchte OpenSlides größtmögliche Freiheit bieten: Keine Vorgaben, keine Liste von Pronomen - stattdessen ein Freitextfeld, in dem jede*r das eigene Pronomen definieren kann.
    </p>
    
    <p>
    Die Angabe von Pronomen in OpenSlides bietet eine Orientierungshilfe für andere Teilnehmende, die Sitzungsleitung oder die Orga! 
    </p>


</div>