<div class="container main-container blue-links">
    <h1>Gremienmanagement mit OpenSlides 4.0 – Erste Einblicke...</h1>
    <i>Dezember 2021, von <a href="mailto:katharina.schuetze@openslides.com">Katharina Schütze</a></i>
    
    <p> Ob Vorstand, Beirat oder Ausschuss, Bundes-, Landes- oder Bezirksebenen - durch OpenSlides4 eröffnen sich
        neue organisatorische Perspektiven. Mit dem Gremienmanagement können nun verschiedene Hierarchieebenen zentral in OpenSlides
        gebündelt und Veranstaltungen organisiert werden.  
        Die bewährten Funktionen zur Durchführung einer Versammlung (Tagesordnung, Redeliste, Anträge, 
        Wahlen und Abstimmungen) bleiben dabei in gewohnter Art bestehen. 
        </p>

    <h3> Gremien - kurz erklärt </h3>

    <p> 
        Es können beliebig viele Gremien angelegt werden. Das Gremium kann in OpenSlides als eigenständige 
        Organisationseinheit für einmalige oder wiederkehrende Veranstaltungen definiert werden. Durch eine dedizierte Rechteverwaltung kann die
        Gremienhierarchie abgebildet werden. Daraus ergeben sich Zugriffsrechte der Teilnehmenden sowie die 
        Möglichkeit zur Weiterleitung von Anträgen. 
    </p>
   
       
    <h3>Wiederkehrende Veranstaltungen und Archiv</h3>
    <p> Innerhalb eines Gremiums können beliebig viele, wiederkehrende Veranstaltungen angelegt werden - beispielsweise 
        jährliche Mitglieder-, Delegierten- oder Hauptversammlungen, monatliche Beirats- oder Ausschusssitzungen
        oder wöchentliche Vorstandsitzungen. Für regelmäßige 
        Termine lassen sich Vorlagen (Templates) anlegen. Die Übernahme von System-Einstellungen und das Duplizieren von Inhalten wird damit erleichtert und ist hilfreich für die Vorbereitung von turnusmäßigen 
        Gremiensitzungen.
    </p>
    
    <p>Veranstaltungen können, nachdem sie durchgeführt wurden, archiviert werden. Nachträgliche Änderungen sind bei 
        archivierten Veranstaltungen nicht mehr möglich. Einblick in die durchgeführten Wahlen und behandelten Anträge bleiben 
        den Teilnehmenden mit lesendem Zugriff erhalten. 
         Somit wird ein langfristiges und transparentes Protokoll durch das Archiv unterstützt.</p>

    <img src="./assets/img/openslidesIV/archivieren.png"
         width="100%" alt="Archivierung">

    <h3>Weiterleitungsfunktion für Anträge und Gremienhierarchie</h3>
    <p>Anträge können zwischen verschiedenen Gremien weitergeleitet werden. Die Berechtigungen dazu werden über das Rechtesystem eingestellt und bilden damit die Gremienhierarchie einer Organisation ab. </p>

    <p> Die Weiterleitung funktioniert sowohl vertikal zwischen verschiedenen Gremien auf unterschiedlichen Organisationsebenen (um z.B. Anträge von Landeskonferenzen an die Bundesebene weiterzuleiten), 
        als auch horizontal innerhalb eines Gremiums (um Anträge z.B. auf einen späteren Termin zu vertagen). </p>

    <img src="./assets/img/openslidesIV/weiterleiten.png"
        width="100%" alt="Weiterleitung">  

    <h3>Die zentrale URL und Mitgliederverwaltung</h3>

    <p> Für den Zugriff auf OpenSlides4 wird der Organisation eine zentrale Internetadresse (URL) bereitgestellt. Alle Gremienmitglieder greifen mit ihrem individuellen Login auf die zentrale Datenbank zu. Wenn beispielsweise eine Person Mitglied von vier Gremien ist, wird nur ein Login benötigt.
        Die Mitgliedsdaten können komfortabel importiert und den jeweiligen Gremien und Veranstaltungen zugeordnet werden. Die Zugriffsberechtigungen werden über ein dediziertes Rechte- und Gruppenmanagement sichergestellt.</p>

        <h3>Kalender und weitere Funktionen</h3>
        <p> Nach dem Login wird auf der Startseite ein Kalender angezeigt, der alle aktiven, künftigen und beendeten Veranstaltungen listet. 
            Es werden ausschließlich Veranstaltungen angezeigt, bei denen man selbst als Teilnehmende*r eingetragen ist.</p>
        
        <img src="./assets/img/openslidesIV/kalender.png"
            width="100%" alt="Kalender">

    <p> Weitere nützliche Funktionen sind die Möglichkeiten zum Einstellen einer individuellen Oberflächen-Gestaltung. Farben können somit im Corporate Design definiert werden. Zusätzlich ermöglichen Schlagwörter das leichte Filtern und Suchen von Gremien, 
        wenn Organisationen komplexe und große Verbandsstrukturen mit OpenSlides4 abbilden möchten.</p>
    
    <img src="./assets/img/openslidesIV/design01.png"
        width="100%" alt="Designtools"> 
    
        <img src="./assets/img/openslidesIV/design04.png"
        width="100%" alt="Designtools"> 

    <h3>Jetzt ausprobieren</h3>

    <p> OpenSlides4 kann in unserer <a target="_blank" rel="noreferrer" class="hover"
        href="https://demo.os4.openslides.com/">Online-Demo</a> ausprobiert werden.

    <p>Hinweis: Die finale Hauptversion OpenSlides 4.0 ist noch nicht abgeschlossen und veröffentlicht - aktuell (Dezember 2021) werden noch letzte Optimierungsmaßnahmen durchgeführt.
        Probieren sie bereits jetzt das neue OpenSlides4 und lassen sich von uns zu neuen Einsatzmöglichkeiten beraten.
    </p>
    
</div>