<div class="container main-container">
    <h1 translate>Impressum</h1>
    <p>
        <span translate>OpenSlides ist Freie Open Source Software und wurde 2011 von Emanuel Schütze, Oskar Hahn und Norman Jäckel gegründet. Bis heute zeigen sich die 3 Gründer verantwortlich für die Weiterentwicklung und haben gemeinsam mit der Intevation GmbH eine Freie Software Initiative sowie ein professionelles Dienstleitungsangebot rund um OpenSlides aufgebaut.</span>
        <br>
        <br>
        <span translate>Verantwortlich für den Inhalt dieser Seiten:</span>
        <br><br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br><br>

        <a href="mailto:info@openslides.com" class="valign-wrapper">
            <mat-icon class="mr-0">mail_outline</mat-icon>
            <span>info@openslides.com</span>
        </a>
        <a href="callto:+495413350850" class="valign-wrapper">
            <mat-icon class="mr-0">phone</mat-icon>
            <span>+49-541-335 085-0</span>
        </a>
        <br>
        Vertretungsberechtigt: Frank Koormann, Bernhard Reiter, Dr. Jan-Oliver Wagner<br>
        Registereintrag: HR B 18998, Amtsgericht Osnabrück<br>
        Umsatzsteuer-Identifikation: de 204 854 484
    </p>
</div>